.container {
  /* @include outer-container; */
  width: 100%;
  margin: 0;
  background-color: #70C4CE; }
  @media screen and (min-width: 640px) {
    .container {
      width: 90%;
      max-width: 960px;
      margin: 0 auto; } }

.content {
  margin: 0 auto;
  width: 95%; }
  .content h1, .content h2 {
    color: #FDBB03;
    font-weight: 400; }
  .content header {
    text-align: center; }

/* .app-content {
	@include outer-container;
	aside {
		@include span-columns(3);
	}
	article {
		@include span-columns(9);
	}
} */
section {
  width: 100%; }
  @media screen and (min-width: 768px) {
    section {
      width: 50%; } }
  @media screen and (min-width: 1024px) {
    section {
      max-width: 25%; } }

nav {
  height: 100px;
  color: white; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #74BF2E; }
    @media screen and (min-width: 1024px) {
      nav ul {
        height: 100%; } }
    @media screen and (min-width: 640px) {
      nav ul {
        height: 50%; } }
  nav li {
    display: inline; }
    nav li a:hover {
      font-color: #FDBB03;
      text-decoration: none; }
