$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

.container {
	width: 100%;
	margin: 0;
	@media screen and (min-width: 640px) {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}
}

section {
	width: 100%;
	@media screen and ($tablet) {
		width: 50%;
	}
	@media screen and ($desktop) {
		max-width: 25%;
	}
}

.nav-bar {
	font-size: 30px;
}

body {
	font-size: 50px;
}