$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$mobile: 'min-width: 640px';
$nav-color: #74BF2E;
$hover-color: #FDBB03;
$header-color: #FDBB03;

.container {
	width: 100%;
	margin: 0;
	background-color: #70C4CE;
	@media screen and ($mobile) {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}
}

.content {
	margin: 0 auto;
	width: 95%;
	h1, h2 {
		color: $header-color;
		font-weight: 400;
	}
	header {
		text-align: center;
	}
}

section {
	width: 100%;
	@media screen and ($tablet) {
		width: 50%;
	}
	@media screen and ($desktop) {
		max-width: 25%;
	}
}

nav {
	height: 100px;
	color: white;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: $nav-color;
		@media screen and ($desktop) {
			height: 100%;
		}
		@media screen and ($mobile) {
			height: 50%;
		}
	}
	li {
		display: inline;
		a:hover {
			font-color: $hover-color;
			text-decoration: none;
		}
	}
}

